---
import LikeButton from "../React/LikeButton.tsx";
---


      <div class="flex flex-col items-center space-y-6">
        <div class="grid grid-cols-1 gap-3 w-full max-w-xs py-6">
          {
            [
              {
                desc: "Built with",
                name: "Astro",
                icon: "/svg/astro.svg",
                alt: "Astro Logo",
              },
              {
                desc: "Styled with",
                name: "TailwindCSS",
                icon: "/svg/tailwindcss.svg",
                alt: "TailwindCSS Logo",
              },
              {
                desc: "Deployed on",
                name: "Vercel",
                icon: "/svg/vercel.svg",
                alt: "Vercel Logo",
              },
            ].map((tech) => (
              <div class="flex items-center justify-center lg:justify-normal space-x-3">
                <span class="text-[var(--white-icon)] text-sm">
                  {tech.desc}
                </span>
                <img
                  src={tech.icon}
                  alt={tech.alt}
                  class="h-5 w-5 object-contain filter brightness-0 invert opacity-50"
                  loading="lazy"
                />
                <span class="text-[var(--white-icon)] text-sm">
                  {tech.name}
                </span>
              </div>
            ))
          }
        </div>
      </div>

      <div class="flex flex-col items-center lg:items-start space-y-6">
        <div class="w-full max-w-xs">
          <iframe
            style="border-radius:12px; border:0;"
            src="https://open.spotify.com/embed/playlist/2irOd49FRRLFWYccolQeea?utm_source=generator&theme=0&locale=en_US"
            class="w-full h-40"
            allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy"></iframe>
        </div>
      </div>
    </div>

    <div class="mt-12 pt-8 border-t border-[#ffffff10]">
      <p class="text-center text-sm text-[var(--white-icon)] space-y-2">
        <!-- If you are using this template, by MIT License you can't remove the copyright notice -->
        <span class="block sm:inline"
          >Copyright © 2025 <a href="https://github.com/Gothsec"
            >Oscar Hernandez</a
          >. All rights reserved.</span
        >
      </p>
    </div>
  </div>
</footer>
